body {
    font-family: arial, sans-serif;
    background-color: #c09d73;
    color: #342a29;
  }

  header {
    background-color: #50403e;
    color: #936e57;
    padding: 20px;
    text-align: center;
    text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.551);
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  h1 {
    font-size: 2.5em;
  }

  nav a {
    color: #936e57;
    text-decoration: underline;
    margin: 0 10px;
    font-size: large;
    font-weight: 300;
  }

  main {
    padding: 20px;
  }

  button {
    background-color: #7d7662;
    color: #936e57;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  input[type="text"] {
    padding: 10px;
    width: 200px;
  }

  main p {
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: larger;
    font-weight: 600;
  }
  
  .potion {
    display: flex;
    flex-direction: column; /* Stack the potion title and image/description vertically */
    gap: 20px; /* Space between title and image/description */
  }
  .potion-title{
  width: fit-content;
  margin: 0 auto; /* Center title horizontally */
}

.potion-header {
  display: flex; /* Side-by-side layout for image and description */
  gap: 20px; /* Space between image and decription */
  align-items: flex-start; /* Align items to the top */
}

.potion img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.potion-description {
  display: flex;
  flex-direction: column; /* Stack potion type and description vertically */
  justify-content: flex-start;
  width: 100%; /*Take up available space */
}

.potion-type {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 10px;
  text-align: start;
}

.potion-type-description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
}

  .potion h2 {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 3px;
    border-right: 2px;
    border-bottom: 2px;
  }


